<ion-view>
  <ion-content>
    <header class="yg_tx_top" style="background-image: url(img/pc_bg.jpg)">
      <a href="#"><article style="background-image: url(img/touxiang_2.png)" class="yg_pcenter_tx">
      </article></a>
      <div class="person_name" id="person_name"></div>
      <!--<div class="yg_center_body">-->
      <!--<div><a href="#"><span class="">5</span>商品收藏</a></div>-->
      <!--<div><a href="#"> <span class=" ">0</span>店铺收藏</a></div>-->
      <!--<div><a href="#"> <span class=" ">10</span>关注的店铺</a></div>-->
      <!--&lt;!&ndash;<div><a href="qianbao.html"> <span class=" "></span>我的钱包</a></div>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="yg_center_body_2 yc">-->
      <!--<div><i class="am-icon-money"></i><span  id="user_money">余额:1235.00元</span></div>-->
      <!--<div><i class="am-icon-star" ></i>积分:<span id="pay_points">1000</span></div>-->
      <!--&lt;!&ndash;<div><i class="am-icon-user-secret"></i>个人信息</div>&ndash;&gt;-->
      <!--</div>-->
      <div class="clearboth"></div>
    </header>
    <div class="clearboth"></div>
    <a href="#/tab/dingdan_list/5" ><div class="ddan_list" >
      <div class="dd_ls_l" style="background-image: url(img/tc_1.png)"></div>
      <div class="dd_ls_r">
        <div class="dd_ls_r_1"><i class="am-icon-clock-o"></i> 下单时间:2016-01-01 12:20:35</div>
        <div class="dd_ls_r_2"><i class="am-icon-star"></i>套餐:仅售108元，价值218元茶水套餐！节假日通用，请至少提前2小时预约，提供免费WiFi！</div>
        <div class="dd_ls_r_3">激活码:X45ASDQGDFDHG52SAD456QWE12</div>
        <div class="dd_ls_r_4">状态:未使用</div>
      </div>
    </div></a>
    <div class="ddan_list">
      <div class="dd_ls_l" style="background-image: url(img/tc_2.png)"></div>
      <div class="dd_ls_r">
        <div class="dd_ls_r_1"><i class="am-icon-clock-o"></i> 下单时间:2016-01-01 12:20:35</div>
        <div class="dd_ls_r_2"><i class="am-icon-star"></i> 售388元，价值678元2-4人餐！节假日通用，提供免费WiFi！</div>
        <div class="dd_ls_r_3">激活码:X45ASDQGDFDHG52SAD456QWE12</div>
        <div class="dd_ls_r_4">状态:未使用</div>
      </div>
    </div>
    <div class="ddan_list">
      <div class="dd_ls_l" style="background-image: url(img/tc_3.png)"></div>
      <div class="dd_ls_r">
        <div class="dd_ls_r_1"><i class="am-icon-clock-o"></i> 下单时间:2016-01-01 12:20:35</div>
        <div class="dd_ls_r_2"><i class="am-icon-star"></i> 套餐:仅售108元，价值218元茶水套餐！节假日通用，请至少提前2小时预约，提供免费WiFi！</div>
        <div class="dd_ls_r_3">激活码:X45ASDQGDFDHG52SAD456QWE12</div>
        <div class="dd_ls_r_4">状态:未使用</div>
      </div>
    </div>
    <div class="ddan_list">
      <div class="dd_ls_l" style="background-image: url(img/tc_4.png)"></div>
      <div class="dd_ls_r">
        <div class="dd_ls_r_1"><i class="am-icon-clock-o"></i> 下单时间:2016-01-01 12:20:35</div>
        <div class="dd_ls_r_2"><i class="am-icon-star"></i> 套餐:仅售188元，价值710元布吉店绝对伏特加套餐！提供免费WiFi、停车位!</div>
        <div class="dd_ls_r_3">激活码:X45ASDQGDFDHG52SAD456QWE12</div>
        <div class="dd_ls_r_4">状态:未使用</div>
      </div>
    </div>
  </ion-content>
</ion-view>
