<ion-view hide-tabs="true" >
  <ion-header-bar align-title="left" class="ion_head" style="background: rgba(0,0,0,0.5);color: #fff">
    <div class="buttons">
      <button class="button head_btn" ng-click="gback()"><i class="ion-chevron-left"></i>返回</button>
    </div>
    <h1 class="title" style="color:#d68c0c;font-weight: bold;">订单详情</h1>

  </ion-header-bar>
  <ion-scroll direction="y"   style="width:100%" scroll-height zooming="true" >
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
<img src="img/4.jpg" class="default_width" />
    <!--<div class="taocan_list">-->
    <!--&lt;!&ndash;<div data-am-scrollspy="{animation:'scale-up', delay: 300}"><img src="img/food_7.png" class="default_width" /></div>&ndash;&gt;-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_2.png)"></span><span class="tc_l_1">冰镇啤酒</span> <span class="tc_l_2">¥128元</span><span class="tc_l_3">x12</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_5.png)"></span><span class="tc_l_1">花生</span> <span class="tc_l_2">¥10元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l"><span class="tc_l_img" style="background-image: url(img/food_4.png)"></span><span class="tc_l_1">披萨</span> <span class="tc_l_2">¥60元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_1.png)"></span><span class="tc_l_1">百威</span> <span class="tc_l_2">¥128元</span><span class="tc_l_3">x12</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_l" ><span class="tc_l_img" style="background-image: url(img/food_3.png)"></span><span class="tc_l_1">美味果盘</span> <span class="tc_l_2">¥80元</span><span class="tc_l_3">x1</span><div class="clearboth"></div></div>-->
    <!--<div class="tc_hj">合计:<span class="tc_hj_price">¥128</span><span class="tc_hj_y_price">¥599</span></div>-->
    <!--&lt;!&ndash;<div><span></span>花生 <span>x1</span><span>¥10元</span></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div><span></span>披萨<span>x1</span><span>¥60元</span></div>&ndash;&gt;-->
      <!--<div class="clearboth"></div>-->
    <!--</div>-->
  </ion-scroll>
</ion-view>
