

<ion-view view-title="Dashboard">
  <ion-content>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true"  does-continue="true"  active-slide="myActiveSlide" slide-interval="4000">
    <ion-slide>
      <div class="box"><img src="img/ban_5.png" class="default_width" /></div>
    </ion-slide>

    <ion-slide>
      <div class="box"><img src="img/ban_4.png" class="default_width" /></div>
    </ion-slide>
  </ion-slide-box>
    <div class="clearboth"></div>
    <div class="index_til" data-am-scrollspy="{animation:'scale-down', delay: 300}"><span>迷情岁月</span></div>
    <div class="index_content" data-am-scrollspy="{animation:'slide-left', delay: 700}">在忙碌生活中，你是否偶尔会想歇歇，找一个小小的角落，静下来，慢慢地沉淀、思考、放松。在东莞万江坝头村的下坝坊，就有这么一个地方，
      它叫做外滩岁月，那里四周渲染着古老的色彩，庭院里开满鲜花，你坐在那里看书、写稿、品茶、聊天甚至发呆打盹。能够找到这样一个地方实在不容易，小资们不要错过哦。</div>

    <!--<img src="img/5.jpg" data-am-scrollspy="{animation:'scale-down', delay: 500}" class="default_width"/>-->
    <!--<img src="img/6.png" data-am-scrollspy="{animation:'scale-down', delay: 500}" class="default_width"/>-->
    <!--<img src="img/dizhi_top.png" class="default_width"/>-->
    <img src="img/logo_1.jpg" data-am-scrollspy="{animation:'slide-left', delay: 700}" class="default_width"/>
    <!--<img src="img/logo_1.jpg" data-am-scrollspy="{animation:'slide-bottom', delay: 500}" class="default_width"/>-->

    <div class="index_til" data-am-scrollspy=""><span>长按图片关注公众号即送啤酒一杯！</span></div>
    <div style="text-align: center">
      <img src="img/erweima_3.jpg" style="margin: 1.5rem auto;width: 50%" />
    </div>
  </ion-content>
</ion-view>

<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="js/amazeui.min.js"></script>-->
