<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--<ion-tabs class="tabs-icon-top tabs-color-active-positive">-->
  <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
  <!--<ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">-->
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
  <!--</ion-tab>-->

   <!--&lt;!&ndash;Chats Tab&ndash;&gt;-->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
  <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
<!--</ion-tab>-->

  <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->
<!--</ion-tabs>-->

<!--自己加-->
<ion-tabs class="tabs-icon-top  tabs-color-active-positive  " ng-class="{'tabs-item-hide': $root.hideTabs}" >

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/index" >
    <!-- 标签 1 内容 -->
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <ion-tab title="热销" icon-on="ion-ios-cog-outline" icon-off="ion-ios-cog-outline" href="/tab/taocan">
  <!--<ion-tab title="热销" icon-on="ion-ios-cog-outline" icon-off="ion-ios-cog-outline" href="/tab/chats">-->
    <!-- 标签 2 内容 -->
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
    <ion-nav-view name="tab-taocan"></ion-nav-view>
    <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
  </ion-tab>

  <ion-tab title="订单" icon-on="ion-ios-paper-outline" icon-off="ion-ios-paper-outline" href="#/tab/dingdan_list">
    <!-- 标签 3 内容 -->
    <ion-nav-view name="dingdan_list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="地址" icon-on="ion-ios-paperplane-outline" icon-off="ion-ios-paperplane-outline" href="#/tab/dash">
    <!-- 标签 4 内容 -->
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
</ion-tabs>
<!--自己加-->


<!--<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "-->
     <!--id="" >-->
  <!--<ul class="am-navbar-nav am-cf am-avg-sm-4" style="background: rgba(0,0,0,0.6) !important;border-top:1px solid #ffffff;color:#ffffff !important;">-->
    <!--<li >-->
      <!--<a href="index.html" class="public_footer "  >-->
        <!--<span  class="am-icon-home "></span>-->
        <!--<span class="am-navbar-label">主页</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li >-->
      <!--<a href="javascript:void(0)" class="public_footer public_footer_act">-->
        <!--<span  class="am-icon-leaf "></span>-->
        <!--<span class="am-navbar-label">热销</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li >-->
      <!--<a href="dingdan_list.html" class="public_footer">-->
        <!--<span  class="am-icon-calendar "></span>-->
        <!--<span class="am-navbar-label">订单</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li >-->
      <!--<a href="address.html" class="public_footer ">-->
        <!--<span  class="am-icon-send "></span>-->
        <!--<span class="am-navbar-label">地址</span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
<!--footer-->
