<ion-view hide-tabs="true"  style="background: none !important;" >


  <ion-content style="background: #ffffff">

    <ion-header-bar align-title="left" class="ion_head" style="background: rgba(0,0,0,0.5);color: #fff">
      <div class="buttons">
        <button class="button head_btn" ng-click="gback()"><i class="ion-chevron-left"></i>返回</button>
      </div>
      <h1 class="title" style="color:#d68c0c;font-weight: bold;">优惠套餐</h1>

    </ion-header-bar>
<ion-scroll direction="y"   style="width:100%" scroll-height zooming="true" >
    <img src="img/tc_1.png" class="default_width"/>
    <!--<img src="img/4.jpg" class="default_width"/>-->

    <div class="tc_til">欧洲杯大套餐!</div>
    <div class="clearboth"></div>
    <div class="row row-wrap">
      <div class=" col-50">
        <div class="tc_ls2">
          <div style="background-image: url(img/food_1.png)" class="tc_ls2_l"></div>
          <div class="tc_ls2_r">
            <div class="tc_ls2_r_1">冰镇啤酒</div>
            <div class="tc_ls2_r_2">¥:128元 <span>x12</span></div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
      <div class="col-50">
        <div class="tc_ls2">
          <div style="background-image: url(img/food_2.png)" class="tc_ls2_l"></div>
          <div class="tc_ls2_r">
            <div class="tc_ls2_r_1">花生</div>
            <div class="tc_ls2_r_2">¥:10元 <span>x1</span></div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
      <div class="col-50">
        <div class="tc_ls2">
          <div style="background-image: url(img/food_3.png)" class="tc_ls2_l"></div>
          <div class="tc_ls2_r">
            <div class="tc_ls2_r_1">披萨</div>
            <div class="tc_ls2_r_2">¥:168元 <span>x1</span></div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>

      <div class="col-50">
        <div class="tc_ls2">
          <div style="background-image: url(img/food_4.png)" class="tc_ls2_l"></div>
          <div class="tc_ls2_r">
            <div class="tc_ls2_r_1">百威</div>
            <div class="tc_ls2_r_2">¥:128元 <span>x12</span></div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
      <div class="col-50">
        <div class="tc_ls2">
          <div style="background-image: url(img/food_5.png)" class="tc_ls2_l"></div>
          <div class="tc_ls2_r">
            <div class="tc_ls2_r_1">美味果盘</div>
            <div class="tc_ls2_r_2">¥:30元 <span>x1</span></div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
      <div class="col-50">
        <div class="tc_ls2">
          <div style="background-image: url(img/food_5.png)" class="tc_ls2_l"></div>
          <div class="tc_ls2_r">
            <div class="tc_ls2_r_1">美味果盘</div>
            <div class="tc_ls2_r_2">¥:30元 <span>x1</span></div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
    </div>


    <div class="clearboth"></div>
    <div class="tc_hj">套餐价:<span class="tc_hj_price">¥128</span><span class="tc_hj_y_price">¥599</span></div>
    <div class="clearboth"></div>
    <div class="tc_c_xf_ts"><i class="am-icon-angellist"></i>消费提示</div>
    <div class="tc_c_ts">
      <div class="tc_c_ts_l">有效期</div>
      <div class="tc_c_ts_r">2015年08月18日至2016年12月31日</div>
    </div>
    <div class="tc_c_ts">
      <div class="tc_c_ts_l">可用时间</div>
      <div class="tc_c_ts_r">法定节假日当天不可使用；以下日期：2015年10月31，2015年11月11日，2015年12月24日-25日 不可用
        20:00 - 23:00
      </div>
    </div>
    <div class="tc_c_ts">
      <div class="tc_c_ts_l">预约提示</div>
      <div class="tc_c_ts_r">无需预约，直接消费（高峰期间消费需排号等位）</div>
    </div>
    <div class="tc_c_ts">
      <div class="tc_c_ts_l">使用规则</div>
      <div class="tc_c_ts_r">仅限大厅使用，无包间<br>套餐包含1份餐巾纸，如需增加，需到店另付10元/份</div>
    </div>
    <div class="tc_c_ts">
      <div class="tc_c_ts_l">温馨提示</div>
      <div class="tc_c_ts_r">提供免费停车位<br>提供免费WiFi<br>本单仅限堂食，不可外带<br>商家不提供餐后打包服务</div>
    </div>
    <div class="tc_c_ts">
      <div class="tc_c_ts_l">有效期</div>
      <div class="tc_c_ts_r">2015年08月18日至2016年12月31日</div>
    </div>
    <div class="class"></div>
    <div style="width: 100%;height: 5rem"></div>
    <div></div>

</ion-scroll>
  </ion-content>
  <a href="tel:13710005961"><div class="tc_dg_2"><i class="am-icon-phone"></i>电话预定</div></a>
  <a href="#"><div class="tc_dg">马上预订</div></a>
  <!--<ion-tabs class="tabs-icon-top" ng-class="{'tabs-item-hide': $root.hideTabs}" >-->
  <!--</ion-tabs>-->
</ion-view>
